:root {
    --text-color: black;
    --hyperlink-color: #105289;
    --block-background-color: #ececec;
    --block-border-color: #a9b8c2;
    --block-lighter-background-color: #f5f5f5;
    --block-header-background-color: #c4c4c4;
}

a {
    &:not(:hover) {
        text-decoration: none;
    }
}

h1, h2, h3 {
    text-align: center;
}

th {
    font-weight: normal;
}

li {
    list-style-position: inside;
}

header {
    font-size: 14px;

    & .top-header {
        display: flex;
        justify-content: center;
        align-items: center;

        padding: 0.8em;
        background: lightgrey;
        border-bottom: grey 1px solid;

        user-select: none;

        & a {
            text-decoration: none;
            color: var(--text-color);
        }

        & .return {
            position: absolute;
            left: 5px;

            & .left-arrow {
                font-size: 1.4em;
            }
        }

        & .title {
            & h1 {
                font-size: 28px;
                margin: 0;
            }
        }
    }

    & nav {
        font-size: 12px;
    }
}

.horizontal-nav {
    display: block;
    padding: 6px;

    & ul {
        list-style: none;
        margin: 0;

        & li {
            padding: 0 0.4em;

            & a {
                color: var(--hyperlink-color);
            }

            &:nth-of-type(1) {
                float: left
            }

            &:not(:nth-of-type(1)) {
                float: right;
            }
        }
    }

    &::after {
        content: '';
        display: block;
        clear: both;
    }
}

.block {
    position: relative;
    width: calc(100% - 32px);
    margin-left: 16px;
    margin-right: 16px;

    & .block-header {
        width: 100%;
        background-color: var(--block-header-background-color);
        border: var(--block-border-color) 1px solid;
        border-bottom: none;

        /* text centering */
        padding: 5px;
        & td,
        & th {
            padding: 5px ;
        }
        text-align: center;
        font-weight: bold;
    }

    & .block-content {
        width: 100%;
        background-color: var(--block-background-color);
        border: var(--block-border-color) 1px solid;
    }
}

.home-link {
    font-weight: bold;

    &::before {
        content: '';
        display: inline-block;
        float: left;

        height: 1em;
        width: 1em;
        background-image: url("../../img/house.svg");
        background-size: contain;
        filter: invert(14%) sepia(97%) saturate(2913%) hue-rotate(195deg) brightness(93%) contrast(87%);

        margin-right: 0.4em;
    }
}

footer {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 5px;

    font-size: 10px;

    & nav {
        font-size: 14px;
    }

    margin: 5px 0;
}

/* index.html */
.content {
    .posts-list {
        border-collapse: collapse;

        & tbody {
            & td {
                padding: 8px 8px;
            }

            & td:nth-of-type(1) {
                font-size: 1.1em;
                width: 70%;
            }

            & td:nth-of-type(2),
            & td:nth-of-type(3) {
                text-align: center;
                width: 5%;
            }

            & td:nth-of-type(4) {
                font-size: 0.9em;
                width: 20%;
            }
        }
    }
}

/* posts.html */
.content {
    display: flex;
    flex-flow: column;
    align-items: center;
    font-size: 16px;

    --block-background-color: var(--block-lighter-background-color);

    & h2 {
        font-size: 26px;
        font-weight: lighter;
        margin: 0;
    }

    & hr {
        margin-top: 4px;
        width: 100%;
    }

    margin-top: 5px;
    margin-bottom: 5px;
    & > * {
        margin-top: 3px;
        margin-bottom: 3px;
    }

    & .post-header,
    & .post-footer {
        width: calc(100% - 32px);

        & .reply {
            padding: 5px 15px;
            border: var(--block-border-color) 1px solid;
            border-radius: 5px;
            float: left;

            text-decoration: none;
            color: var(--hyperlink-color);

            &:hover {
                background: linear-gradient(var(--block-background-color), var(--block-lighter-background-color));
            }
        }

        & .pages-details {
            float: right;
            font-size: 0.9em;
        }
    }

    & .post-header {
        & .pages-details {
            margin-top: 12px;
        }
    }

    & .block-header {
        font-size: 0.9em;
    }

    & .block-content {
        padding: 6px 6px 20px 6px;

        & .mini-title {
            margin-bottom: 2px;
            font-size: 1.5em;

            & .like-button {
                float: right;
                padding: 4px;
                height: 1.6em;

                border: var(--block-border-color) 1px solid;
                border-radius: 0.2em;

                opacity: 0;
                transition: opacity 0.1s linear;

                &:hover {
                    filter: invert(14%) sepia(97%) saturate(2913%) hue-rotate(195deg) brightness(93%) contrast(87%);  /* make #105289 color */
                    border-color: var(--hyperlink-color);
                }
            }
        }

        & .author {
            font-size: 0.8em;
        }

        & .post-content {
            display: flex;
            justify-content: start;

            margin-top: 12px;

            & img {
                margin: 0 1em;
            }
        }

        &:hover {
            & .like-button {
                opacity: 1;
            }
        }
    }
}

/* user.html */
.content {
    & .user-info {
        position: relative;
        display: grid;
        grid-template-columns: minmax(30%, auto) 1fr;

        & .user-left,
        & .user-right {
            display: flex;
            flex-flow: column nowrap;
            justify-items: start;
            align-items: center;
            gap: 5px;

            & .avatar {
                align-self: center;
                border: var(--block-border-color) 1px solid;
                padding: 5px;
            }

            & ul {
                list-style: none;
                & li {
                    display: flex;
                    flex-flow: row nowrap;
                    margin-top: 0.6em;
                    max-width: 100%;

                    & .info {
                        word-wrap: break-word;
                        line-height: 1.25;
                        margin: 0 0.5em;
                    }

                    &.last-post {
                        & time {
                            font-size: 0.8em;
                        }
                    }
                }
            }
        }
    }
}

.not-found {
    & .block-content {
        & > * {
            margin: 10px 0;
        }
    }

    & .go-back {
        margin: 20px;
        color: var(--hyperlink-color);
    }
}

@media (prefers-reduced-motion) {
    .like-button {
        transition: none !important;
    }
}