.addr{
    font-size:50px;
    text-shadow: 0px 0px 100px;
    -webkit-animation: color-change 10s infinite;
    -moz-animation: color-change 10s infinite;
    -o-animation: color-change 10s infinite;
    -ms-animation: color-change 10s infinite;
    animation: color-change 10s infinite;
}

.left {
    & img,
    & .description {
        float: left;
    }

}

.description {
    font-size: 14px
}

.et{
    padding-top:7.5em;
}



.ff{
    & p,
    & .zz{
        padding-top:3em;
        font-size:20px;
}
}

.xx{
    & p,
    & .ll{
        padding-top:3em;
        font-size:40px;
}
}

.yy{
    & p,
    & .tt{
        font-size:20px;
    }
}



.dd{
    padding-top:10em;
    & p{font-size:20px;
    }
    & h1{
        font-size:30px;
    }

}

.pp{
    & img{
        display: block;
        margin: 0 auto;
    }
}

.gg{
    & img{
        margin: 0 auto;
        font-size:40px;
    }
}



.er{
    padding-top:3em;
    font-size:60px;
}

.ed{
    padding-top:2em;
    font-size:50px;
}

.ty{
    font-size:100px;
    padding-top:1em;
}

.yu{
    padding-bottom:1.25em;
}

.ss{
    padding-top:3em;
    font-size:35px;
}

.jj{
    font-size:20px;
}

.uu{
    padding-top:5em;
}


h1 {
    -webkit-animation: color-change 10s infinite;
    -moz-animation: color-change 10s infinite;
    -o-animation: color-change 10s infinite;
    -ms-animation: color-change 10s infinite;
    animation: color-change 10s infinite;
}

@-webkit-keyframes color-change {
    0% { color: rgb(235, 242, 232); }
    50% { color: rgb(21, 180, 170); }
    100% { color: rgb(67, 64, 130); }
}
@-moz-keyframes color-change {
    0% { color: rgb(235, 242, 232); }
    50% { color:rgb(21, 180, 170); }
    100% { color: rgb(67,64,130); }
}
@-ms-keyframes color-change {
    0% { color: rgb(235, 242, 232); }
    50% { color:rgb(21, 180, 170); }
    100% { color: rgb(67,64,130); }
}
@-o-keyframes color-change {
    0% { color: rgb(235, 242, 232); }
    50% { color:rgb(21,180, 170) }
    100% { color: rgb(67,64,130); }
}
@keyframes color-change {
    0% { color: rgb(235, 242, 232); }
    50% { color:rgb(21, 180, 170) }
    100% { color:rgb(67,64,130); }
}

p {
    text-align:center;
    text-shadow:0px 0px 2.5px;
    background-color: #333;
    display: flex;
    justify-content:center;
    align-items: center;
    height: 10vh;
    margin: 0 20px;
    border-radius:10px;
  }
  




