dl{ 
    margin:0px 30px;
    padding-left:1em;
}

dt{
    padding-top:1em;
    font-size:26px;
    font-weight: bold;

    & a:link,
    & a:visited {
        color: #105289;
        text-decoration: none;
    }

    & a:hover, 
    & a:active {
        text-decoration: underline;
        color:aqua;
    }
}


dd{
    margin:0.75em;
    padding-left:1em;
    font-size:21px;
    line-height: 1.25;

}

.glossary{
    padding-top:2em;
}


