html {
    font-family: Lato, sans-serif;
    background-image: url(../img/assignment\ picture.jpg);
    background-attachment: fixed;
}

body {

}

.header {
    position: fixed;
    width: 83%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    color: #e8e8e8;
    text-decoration: none;
    font-size: 35px;
    font-weight: bold;
    margin-top: 11px;
    margin-left: 30px;
}

.menu-bar .logo  {
    color: #e8e8e8;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
}

.menu-bar {
    margin-top: 8px;
    margin-right: 65px;
}

.menu-bar a {
    text-decoration: none;
    color: #e8e8e8;
    font-size: 21px;
    margin: 50px;
    font-weight: 550;
    word-spacing: 10px; 
    position: relative; 
}

.menu-bar a::before {
    content: ' ';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: white;
    transition: .3s;
}

.menu-bar a:hover::before {
    width: 100%;
}