.index {
    font-family: Lato, sans-serif;
    background-image: url("../img/assignment\ picture.jpg");
    background-attachment: fixed;
}

#header {
    height: 96vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: 20px;
    position: relative;
    color: #e8e8e8;
}

h1 {
    font-size: 40px;
    letter-spacing: 10px;
    text-transform: uppercase;
    margin-bottom: 20px;
}  

p {
    font-size: 18px;
    letter-spacing: 5px;
}

.get-start-button {
    height: vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: 20px;
    position: relative;
    color: #e8e8e8;
}

button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span {
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.45s;
}

button:hover span {
    width: 100%;
}

button:hover {
    border: none;
}

.section { 
    height: 100vh;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    color: #e8e8e8;
}

.main-h1 {
    font-size: 40px;
    letter-spacing: 10px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    letter-spacing: 5px;
    margin: 0 15%;
}

a {
    text-decoration: none;
}

.fly-in {
    & > * {
        opacity: 0;
        filter: blur(5px);
        translate: -50%;
        transition: all 1.1s;
    }

    &.show > * {
        opacity: 1;
        filter: blur(0);
        translate: 0;
    }
}
