body {
    font-family: Lato, sans-serif;
    background-image: 
        linear-gradient(
          rgba(0, 0, 0, 0.3), 
          rgba(0, 0, 0, 0.3)
        ),
        url("../img/assignment picture.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

* {
    text-shadow: black 0 1px 2px;
}

.section {
    gap: 1.2em;
    width: 100%;
}

.header-edit {
    margin: 0;
    font-size: 80px;
    letter-spacing: 10px;
    text-transform: uppercase;
}

.header-edit{ 
    display: flex;
    width: 25cm;
    height: 2cm;
    align-items: center;
    justify-content: center;
    margin: 0;
    color: #fff;
    font-family: 'Fira Mono', monospace;
    letter-spacing: -2px;
  }
  
  .header-edit{
    animation: glitch 1s linear infinite;
  }
  
  @keyframes glitch{
    2%,64%{
      transform: translate(2px,0) skew(0deg);
    }
    4%,60%{
      transform: translate(-2px,0) skew(0deg);
    }
    62%{
      transform: translate(0,0) skew(5deg); 
    }
  }
  
  .header-edit:before,
  .header-edit:after{
    content: attr(title);
    position: absolute;
    left: 0;
  }
  
.header-edit:before{
    animation: glitchTop 1s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  }
  
  @keyframes glitchTop{
    2%,64%{
      transform: translate(2px,-2px);
    }
    4%,60%{
      transform: translate(-2px,2px);
    }
    62%{
      transform: translate(13px,-1px) skew(-13deg); 
    }
  }
  
  .header-edit:after{
    animation: glitchBotom 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  }
  
  @keyframes glitchBotom{
    2%,64%{
      transform: translate(-2px,0);
    }
    4%,60%{
      transform: translate(-2px,0);
    }
    62%{
      transform: translate(-22px,5px) skew(21deg); 
    }
  }

  .read-more {
    position: absolute;
    bottom: 2%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    text-align: center;

    & .arrows {
        width: 6px;
        & .arrow {
            border: solid white;
            border-width: 0 3px 3px 0;
            padding: 3px;
            rotate: 45deg;
            animation: animate-arrow 1s infinite linear 3s;
        }
    }
}

@keyframes animate-arrow {
    0% {
        translate: 0 0;
    }
    100% {
        translate: 0 50%;
    }
}


h1 {
    margin: 0;
    font-size: 40px;
    letter-spacing: 10px;
    text-transform: uppercase;
}  

p {
    font-size: 20px;
    letter-spacing: 5px;
    margin-left: 15%;
    margin-right: 15%;
}

.p-edit {
    font-size: 18px;
    letter-spacing: 5px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    border-radius: 20px;
}


button {
    position: relative;
    font-size: 15px;
    width: 200px;
    padding-top: 15px;
    padding-bottom: 15px;

    text-align: center;
    font-weight: bold;
    color: white;

    border: none;
    border-radius: 25px;
    background: transparent;

    cursor: pointer;
    overflow: hidden;

    & .border {
        border: 2px solid #009688;
        border-radius: 25px;
        width: 100%;
        height: 100%;

        position: absolute;
        top: 0;
        left: 0;
    }

    & .fill {
        background: #009688;
        height: 100%;
        width: 0;

        position: absolute;
        top: 0;
        left: 0;

        z-index: -1;
        transition: width 0.45s;
    }
}

a {
    text-decoration: none;
}

button:hover {
    & .border {
        border: none;
    }

    & .fill {
        width: 100%;
    }
}

