html {
    font-family: Lato, sans-serif;
    background-image: url(../img/assignment\ picture.jpg);
    background-attachment: fixed;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 21px;
}

.menu-bar {
    flex-direction: column;
    text-align: center;
}

.menu-bar a {
    text-decoration: none;
    color: #e8e8e8;
    font-size: 21px;
    margin: 50px;
    font-weight: 550;
    word-spacing: 10px; 
    position: relative; 
}

.menu-bar a::before {
    content: ' ';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: white;
    transition: .3s;
}

.menu-bar a:hover::before {
    width: 100%;
}