:root {
    --text-color: #E0EFDE; /* Honeydew */
    --galaxy-color: #11111f;
    --desc-background-color: black;

    --earth-diameter: 0.8em;
    --earth-orbit-diameter: 15em;
    --orbit-speed-scale: 10;
}

/* TODO: tidy up planet size part. Use more constants em rather than calc. */

body {
    background-color: var(--galaxy-color);
}

header {
    background: linear-gradient(black, transparent);
}

#solar-system-container {
    overflow: hidden;

    border-radius: 5em;
}

#solar-system {
    display: grid;
    place-items: center;
    padding: 2vh 10vw;
    max-width: 95vw;

    background-color: black;
    border-radius: 5em;

    overflow: auto;

    /* hide scrollbar */
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }

    & > * {
        position: relative;
        grid-row: 1;
        grid-column: 1;
    }

    & a {
        color: var(--text-color);
    }
}

.place-in-orbit, .planet, .orbit .orbit {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

.orbit {
    position: relative;

    width: var(--orbit-diameter);
    height: var(--orbit-diameter);

    animation-name: orbit;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: var(--orbit-duration);

    /* orbit ring */
    &::before {
        content: '';

        position: absolute;
        width: 100%;
        height: 100%;

        border: white solid 0.1em;
        border-radius: 50%;
        opacity: 20%;
    }
}

/* planets text style */
#solar-system {
    & span {
        position: absolute;
        /* 30 deg to the right*/
        bottom: calc(50% + 0.5 * var(--orbit-diameter) / 2);  /* sin(30) * hyp = opp */
        left: calc(50% + 0.866 * var(--orbit-diameter) / 2 );  /* cos(30) * hyp = adj */
        margin: 0.3em;
        padding: 2px;
        opacity: 0;
        transition: opacity 0.3s;
        backdrop-filter: blur(10px) opacity(0.8);
        border-radius: 0.3em;

        user-select: none;
        -webkit-user-select: none;
    }

    & #sun span {
        bottom: calc(50% + 0.5 * var(--planet-diameter) / 2);
        left: calc(50% + 0.866 * var(--planet-diameter) / 2 );
    }

    > *:hover {
        & span {
            opacity: 100%;
        }

        & .orbit:not(.ring)::before {
            opacity: 40%;
        }
    }

}

.place-in-orbit {
    left: 100%;

    /*animation-name: invert-orbit;*/
    /*animation-iteration-count: infinite;*/
    /*animation-timing-function: linear;*/
    /*animation-duration: var(--orbit-duration);*/
}

.planet {
    width: var(--planet-diameter);
    height: var(--planet-diameter);
    border-radius: 50%;
}

.ring {
    animation: none;

    &::before {
        opacity: 100%;
    }
}

.asteroid-belt:before {
    opacity: 30%;
    border-style: dotted;
    border-width: 0.2em;
}

@keyframes orbit {
    0% {
        rotate: z 0deg;
    }
    100% {
        rotate: z -360deg;
    }
}

@keyframes invert-orbit {
    0% {
        rotate: z 0deg;
    }
    100% {
        rotate: z 360deg;
    }
}

* {
    scroll-behavior: smooth !important;
}


.sections {
    overflow: hidden;
}

.section {
    width: 100%;
}

.desc {
    width: 60%;
    align-self: start;

    margin: 40px 8%;
    padding: 20px 40px 40px 40px;

    background-color: var(--desc-background-color);
    border-radius: 20px;
    overflow: hidden;
    line-height: 1.5;

    & h2 {
        font-size: 2em;
        margin: 20px;
        font-weight: bold;
    }

    & img {
        max-width: 30%;
        height: auto;
    }

    & p {
        display: inline-block;
        width: calc(70%);
    }

    & hr {
        margin-bottom: 1em;
    }

    & ul {
        list-style-position: inside;
    }

    & .left,
    & .right {
        &:after {
            content: '';
            display: block;
            clear: both;
        }
    }

    & .left {
        & img {
            float: left;
        }
    }

    & .right {
        & img {
            float: right;
        }
    }


    &.left {
        align-self: start;
    }
    &.right {
        align-self: end;
    }
}

@media (max-width: 920px) {
    .desc {
        align-self: center !important;
        width: 90%;
    }
}


/* Planet order */
#sun {
    z-index: 10;
}

#mercury {
    z-index: 9;
}

#venus {
    z-index: 8;
}

#earth {
    z-index: 7;
}

#moon {
    z-index: 6;
}

#mars {
    z-index: 5;
}

#jupiter {
    z-index: 4;
}

#saturn {
    z-index: 3;
}

#uranus {
    z-index: 2;
}

#neptune {
    z-index: 1;
}

/* Planet Color */
#sun .planet {
    background: linear-gradient(45deg, yellow, orange);

    box-shadow: rgba(255, 160, 60, 0.4) 0 0 60px; /* light glow around */
}

#mercury .planet {
    background: linear-gradient(45deg, lightgray, lightblue);
}

#venus .planet {
    background: linear-gradient(45deg, white, grey);
}

#earth .planet {
    background: linear-gradient(45deg, green, blue);
}

#moon .planet {
    background: linear-gradient(45deg, white, lightgray);
}

#mars .planet {
    background: linear-gradient(45deg, #c1440e, #e77d11);
}

#jupiter .planet {
    background: linear-gradient(45deg, ivory, saddlebrown, ivory);
}

#saturn {
    .planet {
        background: linear-gradient(45deg, rosybrown, sandybrown, rosybrown);
    }

    & .ring::before {
        opacity: 50%;
    }

    & #A-ring::before {
        border: calc(0.05 * var(--planet-diameter)) solid rgb(161, 138, 106);
    }

    & #cassini-div::before {
        border: calc(0.01 * var(--planet-diameter)) solid rgb(20, 20, 20);
    }

    & #B-ring::before {
        border: calc(0.2 * var(--planet-diameter)) solid rgb(161, 138, 106);
    }

    & #C-ring::before {
        border: calc(0.1 * var(--planet-diameter)) solid rgb(161, 138, 106);
    }
}

#uranus .planet {
    background: linear-gradient(45deg, lightskyblue, white);
}

#neptune .planet {
    background: linear-gradient(45deg, lightblue, dodgerblue);
}

/* Planet data
https://nssdc.gsfc.nasa.gov/planetary/factsheet/planet_table_ratio.html
*/
#sun {
    --orbit-duration: 0;
    --orbit-diameter: 0;
    --planet-diameter: calc(7 * var(--earth-diameter));
}

#mercury {
    --orbit-duration: calc(0.241s * var(--orbit-speed-scale));
    --orbit-diameter: calc(0.5 * var(--earth-orbit-diameter));
    --planet-diameter: calc(0.283 * var(--earth-diameter));
}

#venus {
    --orbit-duration: calc(0.615s * var(--orbit-speed-scale));
    --orbit-diameter: calc(0.723 * var(--earth-orbit-diameter));
    --planet-diameter: calc(0.949 * var(--earth-diameter));
}

#earth {
    --orbit-duration: calc(1s * var(--orbit-speed-scale));
    --orbit-diameter: var(--earth-orbit-diameter);
    --planet-diameter: var(--earth-diameter);

    #moon {
        --orbit-duration: calc(0.0748s * var(--orbit-speed-scale));
        --orbit-diameter: calc(0.08 * var(--earth-orbit-diameter));
        --planet-diameter: calc(0.2724 * var(--earth-diameter));
    }
}

#mars {
    --orbit-duration: calc(1.88s * var(--orbit-speed-scale));
    --orbit-diameter: calc(1.3 * var(--earth-orbit-diameter));
    --planet-diameter: calc(0.714 * var(--earth-diameter));
}

.asteroid-belt.inner {
    --orbit-diameter: calc(1.65 * var(--earth-orbit-diameter));

    &:before {
        border-width: 0.19em;
    }
}
.asteroid-belt.middle {
    --orbit-diameter: calc(1.7 * var(--earth-orbit-diameter));

    &:before {
        border-width: 0.34em;
    }
}
.asteroid-belt.another-middle {
     --orbit-diameter: calc(1.74 * var(--earth-orbit-diameter));
 }
.asteroid-belt.outer {
    --orbit-diameter: calc(1.79 * var(--earth-orbit-diameter));

    &:before {
        border-width: 0.3em;
    }
}

#jupiter {
    --orbit-duration: calc(11.9s * var(--orbit-speed-scale));
    --orbit-diameter: calc(2.3 * var(--earth-orbit-diameter));
    --planet-diameter: calc(5.21 * var(--earth-diameter));
}

#saturn {
    --orbit-duration: calc(29.4s * var(--orbit-speed-scale));
    --orbit-diameter: calc(3.1 * var(--earth-orbit-diameter));
    --planet-diameter: calc(3.45 * var(--earth-diameter));

    & #A-ring {
        --orbit-duration: calc(29.4s * var(--orbit-speed-scale));
        --orbit-diameter: calc(var(--planet-diameter) + 0.15 * var(--earth-orbit-diameter));
    }

    & #cassini-div {
        --orbit-duration: calc(29.4s * var(--orbit-speed-scale));
        --orbit-diameter: calc(var(--planet-diameter) + 0.13 * var(--earth-orbit-diameter));
    }

    & #B-ring {
        --orbit-duration: calc(29.4s * var(--orbit-speed-scale));
        --orbit-diameter: calc(var(--planet-diameter) + 0.11 * var(--earth-orbit-diameter));
    }

    & #C-ring {
        --orbit-duration: calc(29.4s * var(--orbit-speed-scale));
        --orbit-diameter: calc(var(--planet-diameter) + 0.07 * var(--earth-orbit-diameter));
    }
}

#uranus {
    --orbit-duration: calc(83.7s * var(--orbit-speed-scale));
    --orbit-diameter: calc(3.7 * var(--earth-orbit-diameter));
    --planet-diameter: calc(2.01 * var(--earth-diameter));
}

#neptune {
    --orbit-duration: calc(163.7s * var(--orbit-speed-scale));
    --orbit-diameter: calc(4.3 * var(--earth-orbit-diameter));
    --planet-diameter: calc(1.88 * var(--earth-diameter));
}
