html{
    scroll-behavior: smooth;
}
.title{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    animation: slide;
    animation-play-state: running;
    animation-timing-function: ease-out;
    animation-duration: 1.5s;
}

.title h1{
    margin-top: -32%;
}

@keyframes slide{
    from{margin-right: 50%;}
    to{margin-right: 0%;}
    0%{opacity: 0;}
    50%{transform: scale(-1,1);}
}

.study_level{
    position: absolute;
    margin-top: -6.9%;
    animation: study;
    animation-play-state: running;
    animation-timing-function: ease-out;
    animation-duration: 1.5s;
    
}

.study_level a{
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    color:#e8e8e8;
    padding: 15px;
}

.primary{
    display: inline-block;
}

.secondary{
    display: inline-block;
}

.tertiary{
    display: inline-block;
}

@keyframes study{
    0%{opacity: 0;}
}

#pp {
    height: 200vh;
}

#primary_page{
   position: absolute;
   text-align: left;
   font-size: 40px;
   font-weight: bold;
   padding: 15px;
}

.solar_topic{
    position: absolute;
    display: block;
    height: 15vh;
    width: 100vh;
    border-radius: 17px;
    background-color: grey;
    margin-top: 14vh;
    left: 50%;
    transform: translate(-50%,-50%);
}
.solar_system .solar_system_t{
    text-align: center;
    padding-left: 20px;
}

.solar_system p{
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    padding-left: 15px;
}

.description p{
    padding-bottom: 10px;
}

.mercury{
    position: absolute;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    height: 14vh;
    width: 100vh;
    border-radius: 17px;
    background-color: grey;
    margin-top: 27vh;
    left: 0;
    margin-left: 20px;
}

.mercury .mercury_t{
    text-align: center;
    padding-left: 0px;
}

.venus{
    position: absolute;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    height: 14vh;
    width: 100vh;
    border-radius: 17px;
    background-color: grey;
    margin-top: 44vh;
    right: 0;
    margin-right: 20px;
}

.venus .venus_t{
    text-align: center;
    padding-left: 0px;
}

.earth{
    position: absolute;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    height: 14vh;
    width: 100vh;
    border-radius: 17px;
    background-color: grey;
    margin-top: 61vh;
    left: 0;
    margin-left: 20px;
}

.earth .earth_t{
    text-align: center;
    padding-left: 0px;
}

.mars{
    position: absolute;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    height: 14vh;
    width: 100vh;
    border-radius: 17px;
    background-color: grey;
    margin-top: 78vh;
    right: 0;
    margin-right: 20px;
}

.mars .mars_t{
    text-align: center;
    padding-left: 0px;
}

.jupiter{
    position: absolute;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    height: 14vh;
    width: 100vh;
    border-radius: 17px;
    background-color: grey;
    margin-top: 95vh;
    left: 0;
    margin-left: 20px;
}

.jupiter .jupiter_t{
    text-align: center;
    padding-left: 0px;
}

.saturn{
    position: absolute;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    height: 14vh;
    width: 100vh;
    border-radius: 17px;
    background-color: grey;
    margin-top: 112vh;
    right: 0;
    margin-right: 20px;
}

.saturn .saturn_t{
    text-align: center;
    padding-left: 0px;
}

.uranus{
    position: absolute;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    height: 14vh;
    width: 100vh;
    border-radius: 17px;
    background-color: grey;
    margin-top: 129vh;
    left: 0;
    margin-left: 20px;
}

.uranus .uranus_t{
    text-align: center;
    padding-left: 0px;
}

.neptune{
    position: absolute;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    height: 14vh;
    width: 100vh;
    border-radius: 17px;
    background-color: grey;
    margin-top: 146vh;
    right: 0;
    margin-right: 20px;
}

.neptune .neptune_t{
    text-align: center;
    padding-left: 0px;
}

.nigamamn{
    position: absolute;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    height: 14vh;
    width: 100vh;
    border-radius: 17px;
    background-color: grey;
    margin-top: 163vh;
    left: 0;
    margin-left: 20px;
}

.nigamamn .nigamamn_t{
    text-align: center;
    padding-left: 0px;
}

.trigotine{
    position: absolute;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    height: 14vh;
    width: 100vh;
    border-radius: 17px;
    background-color: grey;
    margin-top: 180vh;
    right: 0;
    margin-right: 20px;
}

.trigotine .trigotine_t{
    text-align: center;
    padding-left: 0px;
}

#sp{
    height: 100vh;

}

#secondary_page{
    position: absolute;
    text-align: left;
    font-size: 40px;
    font-weight: bold;
    padding: 15px;
 }

#tp{
    height: 100vh;
    
}

#tertiary_page{
    text-align: left;
    font-size: 40px;
    font-weight: bold;
 }



