html{
    scroll-behavior: smooth;
}
.slide-text {
    animation: slide;
    animation-play-state: running;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-duration: 2s;
}

@keyframes slide{
    0%{
        margin-right: 50%;
        opacity: 0;
    }
    25%{
        scale: -1 1;
        margin-right: 0%;
    }
    50% {
        scale: 1 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.study_level{
    opacity: 0;
    position: absolute;
    animation: study;
    animation-play-state: running;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-delay: 2s;
    
}

.study_level a{
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    color:#e8e8e8;
    padding: 15px;
}

.primary{
    display: inline-block;
}

.secondary{
    display: inline-block;
}

.tertiary{
    display: inline-block;
}

@keyframes study{
    0%{opacity: 0;}
    100% {opacity: 1;}
}

h2{
    font-size: 25px;
    margin-bottom: 0.5em;
}

#primary_page{
    position: relative;
    text-align: left;
    font-size: 40px;
    font-weight: bold;
    padding: 15px;
}

.desc {
    margin: 30px;
    padding: 1em;
    width: 50%;
    font-size: 24px;
}


.desc:nth-of-type(2n - 1) {
    align-self: start;
    margin-left: 40px;
}

.desc:nth-of-type(2n) {
    align-self: end;
    margin-right: 40px;
}


.solar_system p{
    font-size: 21px;
    font-weight: bold;
    text-align: left;
    padding-left: 15px;
}

.description p{
    padding-bottom: 10px;
}

.solar{
  font-size: 20px;
  padding-bottom: 20px;
}

.mercury{
    border-radius: 17px;
    background-color: grey;
}

.mercury .mercury_t{
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.venus{
    border-radius: 17px;
    background-color: grey;
}

.venus .venus_t{
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.earth{
    border-radius: 17px;
    background-color: grey;
    left: 0;
}

.earth .earth_t{
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.mars{
    border-radius: 17px;
    background-color: grey;
    right: 0;
}

.mars .mars_t{
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.jupiter{
    border-radius: 17px;
    background-color: grey;
}

.jupiter .jupiter_t{
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.saturn{
    border-radius: 17px;
    background-color: grey;
}

.saturn .saturn_t{
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.uranus{
    border-radius: 17px;
    background-color: grey;
}

.uranus .uranus_t{
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.neptune{
    border-radius: 17px;
    background-color: grey;
}

.neptune .neptune_t{
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.nigamamn{
    border-radius: 17px;
    background-color: grey;
}

.nigamamn .nigamamn_t{
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.trigotine{
    border-radius: 17px;
    background-color: grey;
}

.trigotine .trigotine_t{
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

#sp{
    height: 100vh;

}

#secondary_page{
    position: absolute;
    text-align: left;
    font-size: 40px;
    font-weight: bold;
    padding: 15px;
 }

 .small_bang_title{
    display: flex;
    position: absolute;
    display: block;
    height: 6vh;
    width: 40vh;
    border-radius: 17px;
    text-align: center;
    align-items: center;
    background-color: grey;
    left: 50%;
    margin-top: 13vh;
    padding-top: 10px;
    transform: translate(-50%,-50%);
}

.small_bang_topic p{
    font-size: 23px;
    text-align: center;
    font-weight: 550;
    display: flex;
    position: absolute;
    height: 31vh;
    width: 120vh;
    background-color: grey;
    border-radius: 17px;
    align-items: center;
    padding: 2em;
    margin-top: 35vh;
    left: 50%;
    transform: translate(-50%,-50%);
}

#tp{
    height: 100vh;
    
}

#tertiary_page{
    text-align: left;
    font-size: 40px;
    font-weight: bold;
 }



