:root {
    --text-color: #e8e8e8;
    --background-color: #11111f;
}

body {
    max-width: 100%;
    background-color: var(--background-color);
    overflow-x: hidden;
    color: var(--text-color);
    scroll-behavior: smooth !important;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

header {
    position: absolute;
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr auto;
    justify-content: center;
    align-items: center;
    padding: 1em 2em;  /* vert_pad  horiz_pad */
}

.logo {
    color: #e8e8e8;
    text-decoration: none;
    font-size: 35px;
    font-weight: bold;
}

.navbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    margin: 0 8%;
    padding-left: 8%;
    padding-right: 8%;
    gap: 5%;
}

.navbar a {
    text-decoration: none;
    text-align: center;
    color: #e8e8e8;
    font-size: 1.3em;
    font-weight: 550;
    word-spacing: 0.4em;

    /* underline effects */
    & span {
        width: calc(100%);
        background-image: linear-gradient(transparent calc(100% - 0.1em), white 0.1em);
        background-repeat: no-repeat;
        background-size: 0 100%;
        transition: background-size .4s;
    }

    &:hover span {
        background-size: 100% 100%;
    }
}

.sections {
    display: grid;
    place-items: center;
    align-content: center;
}

.section {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.scroll-up {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 98%;
    left: 99%;
    translate: -100% -100%;
    width: 40px;
    height: 40px;
    background-color: darkslateblue;
    border-radius: 50%;
    z-index: 99;
}

.up-arrow {
    width: 20px;
    height: 20px;
    border: solid lightslategrey;
    border-width: 0 3px 3px 0;
    margin-top: 9px;
    rotate: 225deg;
}

footer{
    background-image:url('../img/footerbackground.jpg');
    text-align:center;
    display:flex;
    justify-content:space-evenly;
    border-top: white solid 1px;
    padding:10px;
}

footer h1{
    color:orange;
    margin:0;
}

footer ul{
    list-style-type: none;
    margin:0;
    padding:0;
}

footer h1.fcontent{
    margin:10px;
    animation:none;
}
  
footer a:link{
    color:rgb(110, 184, 178);
}

footer a:visited{
    color:rgb(110, 184, 178);
}

footer a:hover{
    color:rgb(191, 132, 182);
    text-decoration:none;
}

footer img{
    margin:10px;
    float:none !important;
}

.fly-in-all {
    & > * {
        opacity: 0;
        filter: blur(5px);
        translate: -50%;
        transition-property: filter, translate;
        transition-duration: 1.1s;
    }

    &.right > * {
        translate: 50%;
    }

    &.show > * {
        opacity: 1;
        filter: blur(0);
        translate: 0;
    }
}

.fly-in-self {
    opacity: 0;
    filter: blur(5px);
    translate: -50%;
    transition-property: filter, translate;
    transition-duration: 1.1s;

    &.right {
        translate: 50%;
    }

    &.show {
        opacity: 1;
        filter: blur(0);
        translate: 0;
    }
}


@media (max-width: 850px) {
    * {
        font-size: 10px;
    }

    .navbar {
        width: 100%;
        margin: 1em;
        padding: 0;

        opacity: 0;
        translate: 0 -100%;
        transition-property: opacity, translate;
        transition-duration: 0.1s;
        transition-timing-function: linear;

        & a {
            margin: auto;
        }

        &.show {
            display: flex;
            opacity: 1;
            translate: none;
        }
    }

    header {
        grid-template-columns: 1fr;
        place-content: center;
        place-items: center;
    }

    header .logo {
        margin-right: 0;
    }

    .dropdown-icon {
        position: absolute;
        right: 5em;
        top: 2em;
        margin-left: 0;
    }

    .section {
        /*min-height: 0;*/
    }
}

@media (prefers-reduced-motion) {
    .fly-in-all {
        & > * {
            /*transition: none;*/
        }
    }

    @media (max-width: 850px) {
        .navbar {
            /*transition: none;*/
        }
    }
}